{% with request.resolver_match.view_name as view_name %}
<article>  
  <ul>
    {% if view_name != 'posts:profile' %} 
    <li>
      Автор: {{ post.author.get_full_name }}      
      <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
    </li>
    {% endif %}
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>      
  <p>
      {{ post.text }}      
  </p>
  <a href="{% url 'posts:post_detail' post.id %}">подробная информация </a>
</article> 
  {% if post.group %}
  {% if view_name != 'posts:posts' %}
  <a href="{% url 'posts:posts' post.group.slug %}">все записи группы</a>
  {% endif %}
  {% endif %}
     
{% endwith %}
